@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;!important
  margin: 0px;
  padding: 0px;
}

body {
  /* For mobile phone and others */
  height: 100vh;
  background-image: url('/res/background-small.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FCF9F4;
  !important
  background-attachment: fixed;
  background-position: bottom center;
}

@media only screen and (min-width: 600px) {
  /* For desktops and tablets */
  body {
    height: 100vh;
    background-image: url('/res/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FCF9F4;!important
    background-attachment: fixed;
    background-position: bottom center;
  }
}

.container {
  margin-top: 5px;
  align-content: center;
  align-items: center;
}

.profile {
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.username {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2px;
}

.bio {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #623412;
}

.links {
  text-align: center;
}