
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif; !important
}

body {
 background-image: url('/res/background.jpeg');
 background-repeat: no-repeat;
 background-size: 100%;
 background-color: #FCF9F4; !important
 background-attachment: fixed;
 background-position: bottom center;
}

a {
  text-decoration: none;
  color: #623412;
}