
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif; !important
}

body {
 background-image: url('/res/background.jpeg'); !important
 background-repeat: no-repeat; !important
 background-size: 100%; !important
 background-color: #fbfcf7; !important
 background-attachment: fixed; !important
 background-position: bottom center; !important
}
